@model TDDTestingMVC.Data.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">  *@
            @*      <label asp-for="Codigo" class="control-label"></label> *@
            @*     <input asp-for="Codigo" type="hidden" value="0" class="form-control" /> *@
            @*     <span asp-validation-for="Codigo" class="text-danger"></span>  *@
            @*  </div> *@
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input id="cedula" asp-for="Cedula" class="form-control" type="text" maxlength="10" pattern="\d{10}" title="Ingrese 10 dígitos numéricos" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" type="text" maxlength="50" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" type="text" maxlength="50" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" type="date" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" type="email" maxlength="50" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" type="tel" pattern="\d{10}" maxlength="10" title="Ingrese 10 dígitos numéricos" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" type="text" maxlength="50" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input id="btn-create" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
        {
            <div class="alert alert-danger">@ViewBag.Mensaje</div>
        }


    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

