@model TDDTestingMVC.Data.Pedido

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PedidoID" /> <!-- Campo oculto para PedidoID -->
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label"></label>
                <input asp-for="ClienteID" class="form-control" />
                <span asp-validation-for="ClienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPedido" class="control-label"></label>
                <input asp-for="FechaPedido" class="form-control" />
                <span asp-validation-for="FechaPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@if (ViewBag.Mensaje != null)
{
    <p class="text-danger">@ViewBag.Mensaje</p>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}